<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ECLECTIQUE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/a1.png" rel="icon">
  <link href="/static/assets/img/a1.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.10.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">IT Fest 2K23</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/login" class="get-started-btn scrollto">Login</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
		<h6>Assabah Arts and Science College</h6>
	<h5>COMPUTER SCIENCE AND APPLICATION PRESENTS</h5>
	<br>
	<h1>ECLECTIQUE 2K23</h1>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">


        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="/register">QUIZZIFY</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="/register">CUBEX</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="/register">Treasure Hunt</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="/register">Digital Painting</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="/register">CODE BYTE</a></h3>
          </div>
        </div>

        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="/register">Debugging</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="/register">DESIGN SYMPHONY</a></h3>
          </div>
        </div>

        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="/register">ALPHA JET</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="/register">Other Games</a></h3>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="logo me-auto me-lg-0"><h5>Developed By </h5><h3> Afsal & Naveen</h3></div><br><br>

        <div class="row">
          <div style="text-align: center;" class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/static/assets/img/img.jpg" class="img-fluid" alt="ivide oru photo">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">

            <p class="fst-italic">
              An IT Fest, also known as an Information Technology Festival, is an event that brings together professionals and enthusiasts in the field of information technology. These festivals are typically organized by colleges, universities, and tech companies to showcase the latest technological advancements and provide a platform for people to exchange ideas and network.
            </p>
            <p class="fst-italic">
				An IT Fest typically features a variety of events, including technical presentations, workshops, coding competitions, hackathons, job fairs, and exhibitions of new products and services. It also provides opportunities for attendees to interact with industry experts and learn about emerging trends in the field of IT.
				</p>
				<p class="fst-italic">
					The main objective of an IT Fest is to foster innovation, creativity, and collaboration within the tech community. These festivals are a great way to learn new skills, connect with like-minded individuals, and gain exposure to the latest technology and tools.
					</p>

					 <p class="fst-italic">
						 Overall, an IT Fest is a great way to celebrate the impact of technology on our lives and to explore the exciting possibilities that lie ahead.
						 </p>
          </div>
        </div>

      </div>
    </section>

     <!-- ======= Testimonials Section ======= -->
     <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/static/assets/img/naveen.jpg" class="testimonial-img" alt="">
                <h3>Naveen</h3>
                <h4>Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  They can provide another angle on the subject, and it can be better or the completely new view of the task.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/static/assets/img/afsal.jpg" class="testimonial-img" alt="">
                <h3>Afsal</h3>
                <h4>Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  They are a trigger for investigating the techniques that push boundaries, unlock hidden potential and expand skill set.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div> -->
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->



    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
            <br><br>
			<video style="width:auto;height:700px" autoplay loop muted >
  <source src="/static/assets/img/a.mp4" type="video/mp4" />
</video>

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
	              <h4>IT Exhibition</h4>
              <p>An IT exhibition is a showcase of the latest technologies, products, and services related to information technology</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Hologram</h4>
              <p>A hologram is a three-dimensional image that is created using laser technology.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bi bi-stack"></i>
              <h4>Virtual Reality</h4>
              <p>A computer-generated simulation or a three-dimensional immersive environment that can be experienced through the use of specialized equipment such as VR headsets or controllers</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bi bi-newspaper"></i>
              <h4>Digital Classroom</h4>
              <p>A digital classroom is an online learning environment that utilizes technology to enhance and support learning</p>
            </div>
             <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bi bi-pc-display"></i>
              <h4>Project</h4>
              <p>That deals with IT infrastructure, information systems, or computer technology</p>
            </div>
             <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Live VFX</h4>
              <p>Live visual effects, is the use of computer-generated imagery (CGI), graphics, and other visual effects in real-time during a live performance or event.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
   <!-- <div id="services" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">

            {% block body %}

            {% endblock %}
          </div>

        </div>
	</div>

   </div> -->
    <!-- End Services Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
		              <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">

        <div class="text-center">
          <h3>Welcome All</h3>
          <p>Join us in enjoying and taking part in the IT Fest by accepting our invitation.<br><div class="icon-box"> <i class="bi bi-map-fill"></i> </div> Assabah Arts and Science College</p>
          <a class="cta-btn" href="/register">Register Event</a>
        </div>
</div>
      </div>
    </section>
    <!-- End Cta Section -->




    <!-- ======= Cta Section ======= -->

      </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>ECLECTIQUE</h3>
              <p>
                Assabah Arts and Science College <br>
                Valayamkulam P.O.Kokkur<br>
                Malappuram Dt.679591,Kerala,India<br><br>
                <strong>Phone:</strong> +91 7356494402<br>
                <strong>Email:</strong> Naveen7356@outlook.com<br>
		    <strong>Phone:</strong> +91 7902201667<br>
                <strong>Email:</strong> afsalafz383@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/i/flow/login" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/naveen.c.7796" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://instagram.com/naveen_.c?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://instagram.com/afsl_afzu?igshid=MDM4ZDc5MmU=" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/login" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.assabahasc.org/computer-science-and-application.html">Department</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://instagram.com/afsl_afzu?igshid=MDM4ZDc5MmU=">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://instagram.com/afsl_afzu?igshid=MDM4ZDc5MmU=">Web Development</a></li>

              <li><i class="bx bx-chevron-right"></i> <a href="https://instagram.com/naveen_.c?igshid=YmMyMTA2M2Y=">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>IT Fest 2023</p>
            <form>
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ECLECTIQUE</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://instagram.com/naveen_.c?igshid=YmMyMTA2M2Y=">Afsal  & Naveen</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>
